<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
  xmlns:role="http://www.sitecore.net/xmlconfig/role/"
  xmlns:security="http://www.sitecore.net/xmlconfig/security/">
	<sitecore>
		<databases>
			<database id="master" role:require="ContentManagement or Standalone">
				<dataProviders>
					<dataProvider type="Sitecore.Data.DataProviders.CompositeDataProvider, Sitecore.Kernel">
						<param desc="readOnlyDataProviders" hint="list">
						  <protobufItems type="Sitecore.Data.DataProviders.ReadOnly.Protobuf.ProtobufDataProvider, Sitecore.Kernel">
							<filePaths hint="list">
							  <filePath>$(dataFolder)/items/$(id)</filePath>
							</filePaths>
						  </protobufItems>
						</param>
						<param desc="headProvider">
						  <dataProvider ref="dataProviders/main" param1="$(id)">
							<prefetch role:require="ContentManagement or Standalone" hint="raw:AddPrefetch">
							  <cacheSize>500MB</cacheSize>
							</prefetch>
						  </dataProvider>
						</param>
					</dataProvider>
				</dataProviders>
				<cacheSizes hint="setting">
				  <data>200MB</data>
				  <items>100MB</items>
				  <paths>5000KB</paths>
				  <itempaths>100MB</itempaths>
				  <standardValues>5000KB</standardValues>
				</cacheSizes>
			</database>
			<database id="web" role:require="ContentDelivery or Standalone">
				<dataProviders>
					<dataProvider type="Sitecore.Data.DataProviders.CompositeDataProvider, Sitecore.Kernel">
						<param desc="readOnlyDataProviders" hint="list">
						  <protobufItems type="Sitecore.Data.DataProviders.ReadOnly.Protobuf.ProtobufDataProvider, Sitecore.Kernel">
							<filePaths hint="list">
							  <filePath>$(dataFolder)/items/$(id)</filePath>
							</filePaths>
						  </protobufItems>
						</param>
						<param desc="headProvider">
						  <dataProvider ref="dataProviders/main" param1="$(id)">
							<prefetch role:require="ContentManagement or Standalone" hint="raw:AddPrefetch">
								<cacheSize>500MB</cacheSize>
							</prefetch>
						  </dataProvider>
						</param>
					</dataProvider>
				</dataProviders>
				<cacheSizes hint="setting">
				  <data>200MB</data>
				  <items>100MB</items>
				  <paths>5000KB</paths>
				  <itempaths>100MB</itempaths>
				  <standardValues>5000KB</standardValues>
				</cacheSizes>	
			</database>
			<database id="core" singleInstance="true" type="Sitecore.Data.DefaultDatabase, Sitecore.Kernel" role:require="!ContentDelivery">
				<param desc="name">$(id)</param>
				<connectionStringName>$(id)</connectionStringName>
				<dataProviders hint="list:AddDataProvider">
				  <dataProvider type="Sitecore.Data.DataProviders.CompositeDataProvider, Sitecore.Kernel">
					<param desc="readOnlyDataProviders" hint="list">
					  <protobufItems type="Sitecore.Data.DataProviders.ReadOnly.Protobuf.ProtobufDataProvider, Sitecore.Kernel">
						<filePaths hint="list">
						  <filePath>$(dataFolder)/items/$(id)</filePath>
						</filePaths>
					  </protobufItems>
					</param>
					<param desc="headProvider">
					  <dataProvider ref="dataProviders/main" param1="$(id)">
						<prefetch role:require="ContentManagement or Standalone" hint="raw:AddPrefetch">
							<cacheSize>300MB</cacheSize>
						</prefetch>
					  </dataProvider>
					</param>
				  </dataProvider>
				</dataProviders>
				<cacheSizes hint="setting">
				  <data>200MB</data>
				  <items>100MB</items>
				  <paths>5000KB</paths>
				  <itempaths>100MB</itempaths>
				  <standardValues>5000KB</standardValues>
				</cacheSizes>
			</database>
		</databases>
	</sitecore>
</configuration>
